
@font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("woff2");
    font-weight: 600;
    font-style: normal;
  }

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
  }
  
  body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    background-color: var(--stone-100);
    color: var(--stone-900);
    margin: 0;
    padding: 0;
  }
  .container{
    background-color: var(--white);
    max-width: 1440px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 24px;
  }
  
  h1, h2, h3 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: var(--stone-900);
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.5rem;
    color: var(--rose-800);
  }
  
  p {
    font-weight: 400;
    color: var(--stone-600);
  }
  
 
  .header img{
    width: 100%;
    height: 20em;
    border-radius: 24px;
  }
  .prep-time{
    margin: 20px auto;
    background-color: var(--stone-100);
    padding: 12px;
  }
 
  @media (max-width: 375px) {
    .container {
      max-width: 100%;
      margin: 0;
      border-radius: 0;
      padding: 0;
    }
    .header img{
        height: auto;
        border-radius: 0;
    }
    .header h1, p{
        padding: 12px;
        margin: 0 10px;
    }
    
  }
  